* {
  margin: 0;
  padding: 0;
}

.container {
  background: #ccc;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  margin: 20px;
  width: 250px;
  height: 250px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.box1:hover {
  animation-name: rotate-box1;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes rotate-box1 {
  10% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box2:hover {
  animation-name: rotate-box2;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes rotate-box2 {
  10% {
    transform: translate(0px);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    opacity: 0;
    transform: translate(500px);
  }
}
